.todo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 64px;
    width: 100%;
    /* background-color: rgb(250, 250, 250); */
    padding: 0.1rem 6rem !important;
    position: relative;
}

.todo-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reorder {
    -ms-overflow-style: none;
    scrollbar-width: none; 

    overflow-y: scroll;
   
}

.reorder::-webkit-scrollbar {
     display: none;
}