.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 64px;
    width: 100%;
    /* background-color: rgb(250, 250, 250); */
    padding: 0.1rem 6rem !important;
    position: relative;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btn .button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0.5rem 0.45rem !important;
    font-size: 16px !important;
    border: 1px solid transparent !important;
    outline: none !important;
    background: #26ffdf !important;
    color: #fff !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    margin-left: 1rem !important;

    box-shadow: 0 4px 10px 4px rgba(100, 100, 100, 0.1) !important;

    z-index: 5 !important;
}